Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_backend, run_frontend

docs(backend): consolidate debug endpoints
  BACKEND.md
Due: none

docs(frontend): document env vars
  FRONTEND.md
Due: none

docs(contracts): table for deployment env vars
  CONTRACTS.md
Due: none

docs: compare storage options
  PERSISTENCE.md
Due: none

docs(persistence): condense testing section
  PERSISTENCE.md
Due: none

docs: reference README for component overview
  BACKEND.md
  CONTRACTS.md
  FRONTEND.md
Due: none

refactor(contracts): centralize custom errors
  contracts/TEMPL.sol
  contracts/TemplErrors.sol
Due: run_contracts

refactor(backend): centralize test helpers
  backend/test/cors.test.js
  backend/test/flows.test.js
  backend/test/helpers.js
  backend/test/inbox-state.test.js
  backend/test/persistence.test.js
  backend/test/rate-limit-store.test.js
Due: run_backend

docs: tighten core docs
  BACKEND.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
Due: none

feat(ci): add coverage badge and manual test instructions
  .circleci/continue.yml
  README.md
  hardhat.config.js
  package-lock.json
  package.json
Due: none

docs(contracts): document error contexts
  contracts/TemplErrors.sol
Due: run_contracts

refactor(xmtp): reuse shared helpers
  backend/src/server.js
  frontend/src/App.jsx
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
  frontend/src/xmtpHelpers.test.js
  shared/xmtp.js
Due: run_backend, run_frontend

test(frontend): add fetch and signer mocks
  frontend/src/flows.test.js
  frontend/test-utils/mockFetch.js
  frontend/test-utils/mocks.js
Due: run_frontend

refactor(contracts): use OpenZeppelin ReentrancyGuard
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  contracts/TemplErrors.sol
  frontend/src/contracts/TEMPL.json
  test/Reentrancy.test.js
Due: run_contracts, run_frontend

ci: allow manual test workflow on main
  .circleci/config.yml
Due: none

Update README.md
  README.md
Due: none

docs: clarify install steps in README
  README.md
Due: none

docs(readme): add run examples and env note
  README.md
Due: none

docs(backend): document db options
  BACKEND.md
Due: none

docs(backend): document log level env var
  BACKEND.md
Due: none

docs(frontend): clarify env var location
  FRONTEND.md
Due: none

docs(core flow): remove fee distribution section
  CORE_FLOW_DOCS.MD
Due: none

docs(core): standardize mermaid labels
  CORE_FLOW_DOCS.MD
Due: none

test: sweep member remainder
  test/SweepMemberRemainder.test.js
Due: run_contracts

test(frontend): handle executeProposal errors
  frontend/src/flows.test.js
Due: run_frontend

chore: remove hardhat gas reporter
  package-lock.json
  package.json
Due: none

test(frontend): centralize negative fetch tests
  frontend/src/flows.test.js
Due: run_frontend

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_backend: any of: backend/.*
  run_frontend: any of: frontend/.*
