Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

test(contracts): stabilize quorum block eligibility test
  test/VotingEligibility.test.js
Due: run_contracts, run_all

feat(contracts): allow sentinel fee split defaults
  cache/solidity-files-cache.json
  contracts/TemplFactory.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/e2e/core-flows.pw.spec.js
  frontend/src/App.jsx
  frontend/src/contracts/TemplFactory.json
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.test.js
  frontend/src/services/deployment.js
  scripts/deploy.js
  test/TemplFactory.test.js
Due: run_contracts, run_app, run_all

docs: streamline e2e env docs
  README.md
Due: none

fix(scripts): respect default sentinel in deploy config
  README.md
  contracts/TemplFactory.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  scripts/deploy.js
  test/TemplFactory.test.js
Due: run_contracts, run_all

feat(frontend): expose moderation controls through chat UI
  backend/src/routes/delegates.js
  backend/test/flows.test.js
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/tech-demo.pw.spec.js
  frontend/eslint.config.js
  frontend/playwright.config.js
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/src/flows.types.d.ts
  frontend/src/services/moderation.js
  frontend/vite.config.js
  frontend/vitest.config.js
Due: run_app, run_all

chore(ci): fail slither on compilation errors
  package.json
  scripts/run-slither-ci.sh
  slither.config.json
Due: run_all

feat(frontend): add governance mode toggles
  frontend/src/App.jsx
  frontend/src/flows.test.js
  frontend/src/services/governance.js
Due: run_app, run_all

chore: fix package-lock
  frontend/package-lock.json
Due: run_app, run_all

docs: sync contract and telegram guidance
  docs/CONTRACTS.md
  docs/PERSISTENCE.md
  docs/TEST_LOCALLY.md
Due: none

docs: simplify contract error reference
  docs/CONTRACTS.md
Due: none

fix(backend): drop unused member cache
  backend/src/server.js
  backend/src/services/joinTempl.js
  backend/src/services/registerTempl.js
Due: run_app, run_all

test(frontend): drop debug endpoint env
  frontend/playwright.config.js
Due: run_app, run_all

feat(frontend): surface factory templ directory
  frontend/e2e/basic-flows.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/config.js
  frontend/src/pages/HomePage.jsx
  frontend/src/services/templs.js
Due: run_app, run_all

docs: align frontend env and templ directory description
  README.md
  docs/FRONTEND.md
  docs/PERSISTENCE.md
Due: none

chore: update docs
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: none

docs: adjust copy
  README.md
Due: none

docs: remove references to old codebase
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/FRONTEND.md
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/e2e/basic-flows.pw.spec.js
Due: run_app, run_all

docs(contracts): add NatSpec coverage across templ modules
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
Due: run_contracts, run_all

feat: support priest-signed telegram rebind flow
  .solcover.cjs
  README.md
  backend/src/memoryDb.js
  backend/src/routes/templs.js
  backend/src/services/requestTemplRebind.js
  backend/test/app.test.js
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/ReentrantToken.sol
  docs/BACKEND.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/src/App.jsx
  frontend/src/pages/TemplOverviewPage.jsx
  frontend/src/services/deployment.js
  shared/signing.js
  test/ClaimMemberPool.test.js
  test/GovernanceCoverage.test.js
  test/MembershipCoverage.test.js
  test/PriestDictatorship.test.js
  test/ProposalPagination.test.js
  test/Reentrancy.test.js
  test/TemplFactory.test.js
  test/TreasuryCoverage.test.js
  test/WrapperCoverage.test.js
Due: run_contracts, run_app, run_all

fix(backend): persist templ registrations without chat binding
  README.md
  backend/src/memoryDb.js
  backend/src/middleware/validate.js
  backend/src/routes/join.js
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/app.test.js
  docs/BACKEND.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
  frontend/playwright.config.js
Due: run_app, run_all

fix(backend): hydrate priest metadata from contract
  backend/src/server.js
  backend/test/app.test.js
  docs/BACKEND.md
Due: run_app, run_all

chore: update cache
  cache/solidity-files-cache.json
Due: none

fix(backend): send telegram proposal links to vote route
  backend/src/telegram.js
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/TEMPL_TECH_SPEC.MD
Due: run_app, run_all

docs: add templ.fun smart contract audit report
  docs/SMART_CONTRACT_AUDIT.md
Due: none

docs: clarify watcher restart behavior
  docs/BACKEND.md
  docs/PERSISTENCE.md
Due: none

docs: sync documentation with protocol behavior
  README.md
  docs/CORE_FLOW_DOCS.MD
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: none

chore: remove useless badges
  README.md
Due: none

fix(contracts): enforce quorum maintenance on execution
  backend/src/express.d.ts
  contracts/TemplGovernance.sol
  docs/CONTRACTS.md
  test/ExecuteProposalReverts.test.js
Due: run_contracts, run_app, run_all

fix: reinforce governance quorum and backend security
  backend/src/middleware/validate.js
  backend/src/routes/templs.js
  backend/src/server.js
  backend/test/app.test.js
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  docs/BACKEND.md
  docs/CONTRACTS.md
  test/ActiveProposalsIndex.test.js
  test/ExternalRewardsRemainder.test.js
  test/ProposalPagination.test.js
Due: run_contracts, run_app, run_all

docs(contracts): clarify factory default protocol share assumption
  contracts/TemplFactory.sol
  docs/CONTRACTS.md
Due: run_contracts, run_all

fix(backend): tighten expiry validation for typed signatures
  backend/src/middleware/validate.js
  backend/test/validate.test.js
Due: run_app, run_all

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
  run_all: ((((((any of: contracts/.*) or (any of: test/.*)) or (any of: backend/.*)) or (any of: frontend/.*)) or (any of: scripts/.*)) or (any of: shared/.*)) or (any of: deployments/.*)
