Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_backend, run_frontend

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4

workflows:
  filter:
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_backend true
            frontend/.* run_frontend true

fix integration tests
  AGENTS.md
  BROKEN_FLOWS.MD
  frontend/src/core-flows.integration.test.js
  frontend/vitest.config.js
Due: run_frontend

wip
  AGENTS.md
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/e2e/fixtures.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/vite.config.js
Due: run_backend, run_frontend

wip
  frontend/eslint.config.js
Due: run_frontend

wip
  .circleci/continue.yml
  BACKEND.md
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  backend/package.json
  backend/src/server.js
  backend/tsconfig.json
  frontend/e2e/core-flows.spec.js
  frontend/e2e/fixtures.js
  frontend/eslint.config.js
  frontend/package.json
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.types.d.ts
  frontend/tsconfig.json
Due: run_backend, run_frontend

wip
  .circleci/continue.yml
  README.md
  frontend/e2e/governance-only.spec.js
  package.json
Due: run_frontend

wip
  README.md
  backend/test/flows.test.js
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/core-flows.spec.js
  frontend/e2e/governance-only.spec.js
  frontend/playwright.config.js
Due: run_backend, run_frontend

update package-locks
  backend/package-lock.json
  frontend/package-lock.json
Due: run_backend, run_frontend

wip
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/src/App.jsx
  frontend/src/flows.js
  llms-full-xmtp.txt
Due: run_backend, run_frontend

E2E stabilization: XMTP inbox rotation, robust join/discovery, backend /send retries, clearer UI status, deterministic chat selectors; remove duplicate purchase in e2e; fix backend lint
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/src/App.jsx
Due: run_backend, run_frontend

wip
  E2E_ERRORS.md
  backend/e2e-groups.db
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_backend, run_frontend

pass
  E2E_ERRORS.md
  PERSISTENCE.md
  backend/e2e-groups.db
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/e2e/fixtures.js
  frontend/e2e/xmtp-node-browser.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_backend, run_frontend

wip
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_frontend

wip
  backend/e2e-groups.db
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/src/App.jsx
Due: run_backend, run_frontend

wip
  BACKEND.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  XMTP-E2E-BROWSER-DISCOVERY-ISSUE.md
  backend/e2e-groups.db
Due: run_backend

wip
  BACKEND.md
  FRONTEND.md
  README.md
  XMTP-E2E-BROWSER-DISCOVERY-ISSUE.md
  backend/e2e-groups.db
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/e2e/xmtp-add-after-join.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
  package.json
Due: run_backend, run_frontend

fix
  .circleci/continue.yml
  BACKEND.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  XMTP-E2E-BROWSER-DISCOVERY-ISSUE.md
  backend/e2e-groups.db
  backend/package.json
  backend/src/server.js
  backend/test/flows.test.js
  backend/test/persistence.test.js
  frontend/e2e/core-flows.spec.js
  frontend/e2e/xmtp-add-after-join.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_backend, run_frontend

v0
  .circleci/continue.yml
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  WEB3_AUDIT_REPORT.MD
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  backend/e2e-groups.db
  backend/package.json
  cache/solidity-files-cache.json
  contracts/ReentrancyHelper.sol
  contracts/ReentrantToken.sol
  contracts/ReturnEth.sol
  contracts/Reverter.sol
  contracts/TEMPL.sol
  contracts/TestToken.sol
  frontend/package.json
  frontend/src/contracts/TEMPL.json
  package.json
  slither.config.json
  test/ExecuteDAOEth.test.js
  test/ExecuteDAOReverts.test.js
  test/ReentrancyExtended.test.js
  test/SelfPurchase.test.js
  test/SingleProposal.test.js
  test/TEMPL.test.js
Due: run_contracts, run_backend, run_frontend

cleanup
  BACKEND.md
  FRONTEND.md
  README.md
  WEB3_AUDIT_REPORT.MD
  backend/e2e-groups.db
  backend/package-lock.json
  backend/package.json
  backend/src/server.js
  frontend/package-lock.json
  frontend/vitest.config.js
  frontend/vitest.setup.js
  llms-full-xmtp.txt
  package-lock.json
  package.json
Due: run_backend, run_frontend

test
  DEPLOYMENT.md
  WEB3_AUDIT_REPORT.MD
  backend/e2e-groups.db
Due: run_backend

v0
  AGENTS.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  PERSISTENCE.md
  README.md
  backend/e2e-groups.db
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_backend, run_frontend

docs update
  PERSISTENCE.md
  README.md
  WEB3_AUDIT_REPORT.MD
Due: none

cleanup
  README.md
  backend/src/server.js
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_backend, run_frontend

test(updateConfigDAO): cover EntryFeeTooSmall
  test/UpdateConfigDAO.test.js
Due: run_contracts

test: add sweep remainder revert coverage
  test/SweepMemberRemainderReverts.test.js
Due: run_contracts

test: revert on invalid proposal execution
  test/ExecuteProposalReverts.test.js
Due: run_contracts

feat(contracts): add claim pool reentrancy token
  contracts/ReentrantClaimToken.sol
  test/Reentrancy.test.js
Due: run_contracts

test: handle invalid getProposal
  test/TEMPL.test.js
Due: run_contracts

fix(ci): forward manual workflow param
  .circleci/config.yml
Due: none

test(backend): cover purchase check failures
  backend/test/flows.test.js
Due: run_backend

test(backend): add join identity and rate limit tests
  backend/test/flows.test.js
Due: run_backend
