Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@2.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_app true
            frontend/.* run_app true
            contracts/.* run_all true
            test/.* run_all true
            backend/.* run_all true
            frontend/.* run_all true
            scripts/.* run_all true
            shared/.* run_all true
            deployments/.* run_all true

chore(frontend): ignore legacy runInBand flag
  frontend/package.json
  frontend/scripts/run-vitest.js
  frontend/src/App.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/JoinTemplPage.jsx
  frontend/src/pages/TemplOverviewPage.jsx
Due: run_app, run_all

chore(frontend): drop vitest shim
  frontend/package.json
  frontend/scripts/run-vitest.js
Due: run_app, run_all

docs: explain pioneer refund path
  README.md
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  contracts/TemplMembership.sol
  contracts/mocks/TemplHarness.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  test/ClaimMemberPool.test.js
  test/DisbandTreasury.test.js
  test/ExternalRewardsRemainder.test.js
  test/FeeDistributionInvariant.test.js
  test/GetProposalStatus.test.js
  test/GovernanceCoverage.test.js
  test/MemberPool.test.js
  test/TEMPL.test.js
  test/UniformVoteWeight.test.js
  test/VotingEligibility.test.js
  test/WrapperCoverage.test.js
  test/utils/mintAndPurchase.js
Due: run_contracts, run_all

fix(backend): enforce priest verification on rebind
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/services/requestTemplRebind.js
  backend/test/app.test.js
Due: run_app, run_all

feat(shared): add link sanitizer
  backend/src/telegram.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/TemplOverviewPage.jsx
  shared/linkSanitizer.js
  shared/linkSanitizer.test.js
Due: run_app, run_all

feat(frontend): surface on-chain stats and gated purchases
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/ClaimRewardsPage.jsx
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/JoinTemplPage.jsx
  frontend/src/pages/NewProposalPage.jsx
  frontend/src/pages/TemplOverviewPage.jsx
  frontend/src/pages/VoteProposalPage.jsx
  frontend/src/services/membership.js
  frontend/src/services/membership.test.js
  frontend/src/services/templs.js
  frontend/src/ui/theme.js
  hardhat.config.cjs
Due: run_app, run_all

fix(frontend): align templ stats with type safety
  frontend/src/App.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/services/templs.js
  scripts/test-all.sh
Due: run_app, run_all

fix(frontend): compact balance display in templ lists
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/TemplOverviewPage.jsx
  frontend/src/ui/format.js
  frontend/src/ui/format.test.js
  frontend/src/ui/theme.js
Due: run_app, run_all

fix(frontend): sanitize templ home links
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/HomeLinkSanitization.test.jsx
  frontend/src/pages/JoinTemplPage.jsx
Due: run_app, run_all

fix(backend): backfill proposals when reconnecting
  backend/src/server.js
  backend/src/services/registerTempl.js
  backend/test/app.test.js
Due: run_app, run_all

fix(backend): reject duplicate templ chat registration
  backend/src/services/registerTempl.js
  backend/test/app.test.js
Due: run_app, run_all

feat(contracts): lock membership during disband quorum
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  test/DisbandTreasury.test.js
Due: run_contracts, run_all

fix(backend): allow duplicate templ chat bindings
  backend/src/server.js
  backend/src/services/registerTempl.js
  backend/test/app.test.js
Due: run_app, run_all

fix(contracts): reduce templ factory bytecode via sstore2
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  contracts/libraries/SSTORE2.sol
  contracts/libraries/utils/Bytecode.sol
Due: run_contracts, run_all

docs: sync stack documentation
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/PERSISTENCE.md
  docs/SHARED.md
Due: none

feat(frontend): surface proposal context in ui
  frontend/src/App.jsx
  frontend/src/pages/NewProposalPage.jsx
  frontend/src/pages/TemplOverviewPage.jsx
  frontend/src/services/governance.js
  frontend/src/ui/format.js
Due: run_app, run_all

feat(stack): enforce trusted factory and persist bindings
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/services/contractValidation.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/app.test.js
  docs/BACKEND.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  frontend/src/App.jsx
  frontend/src/pages/CreateTemplPage.jsx
  scripts/README.md
  scripts/deploy.js
Due: run_app, run_all

docs: note telegram plaintext formatting
  README.md
  docs/BACKEND.md
  docs/TEMPL_TECH_SPEC.MD
Due: none

docs: record initial production audit
  docs/AUDIT_REPORT.md
Due: none

fix(core): harden disband governance and backend validation
  backend/src/services/contractValidation.js
  backend/src/services/joinTempl.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/contractValidation.test.js
  backend/test/joinTempl.service.test.js
  backend/test/registerTempl.service.test.js
  contracts/TemplGovernance.sol
  docs/BACKEND.md
  test/DisbandTreasury.test.js
  test/GovernanceCoverage.test.js
  test/PriestDictatorship.test.js
Due: run_contracts, run_app, run_all

fix: release disband lock and harden backend validation
  backend/src/services/contractValidation.js
  backend/src/services/joinTempl.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/contractValidation.test.js
  backend/test/services.test.js
  contracts/TemplGovernance.sol
  docs/AUDIT_REPORT.md
  docs/DEPLOYMENT_GUIDE.md
  test/DisbandTreasury.test.js
Due: run_contracts, run_app, run_all

feat(backend): use MarkdownV2 telegram alerts
  backend/src/telegram.js
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: run_app, run_all

fix(contracts): enforce disband locks and cap joins
  README.md
  contracts/TemplErrors.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  docs/AUDIT_REPORT.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/src/services/membership.js
  frontend/src/services/membership.test.js
  test/DisbandTreasury.test.js
  test/MaxMembersPause.test.js
  test/WrapperCoverage.test.js
Due: run_contracts, run_app, run_all

docs: clarify member caps and telegram formatting
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
Due: none

docs: streamline contracts overview
  README.md
Due: none

refactor(contracts): remove unreachable zero-member logic
  contracts/TemplMembership.sol
  contracts/mocks/TemplHarness.sol
  test/MemberPool.test.js
Due: run_contracts, run_all

Delete SCALING_WEB2.md
  SCALING_WEB2.md
Due: none

feat(scripts): automate cloudflare stack deploys
  .gitignore
  README.md
  SCALING_WEB2.md
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/validate.js
  backend/src/persistence/index.js
  backend/src/persistence/schema.sql
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/app.test.js
  docs/BACKEND.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
  frontend/playwright.config.js
  package.json
  scripts/README.md
  scripts/cloudflare.deploy.example.env
  scripts/deploy-cloudflare.js
Due: run_app, run_all

feat(contracts): add harnesses for full coverage
  contracts/TemplFactory.sol
  contracts/libraries/SSTORE2.sol
  contracts/mocks/BytecodeHarness.sol
  contracts/mocks/ClaimExternalTarget.sol
  contracts/mocks/TemplFactoryHarness.sol
  contracts/mocks/TemplHarness.sol
  docs/CONTRACTS.md
  hardhat.config.cjs
  test/ActiveProposalsIndex.test.js
  test/BytecodeHarness.test.js
  test/CoverageHarness.test.js
  test/DisbandTreasury.test.js
  test/ExecuteProposalReverts.test.js
  test/ExternalRewardsRemainder.test.js
  test/PriestDictatorship.test.js
  test/Reentrancy.test.js
  test/TemplFactory.test.js
  test/TreasuryHarness.test.js
  test/VoteReverts.test.js
Due: run_contracts, run_all

feat(backend): add sqlite persistence and leader election
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/persistence/index.js
  backend/src/persistence/schema.sql
  backend/src/server.js
  backend/test/app.test.js
  docs/BACKEND.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
  package-lock.json
  package.json
  scripts/README.md
  scripts/cloudflare.deploy.example.env
  scripts/deploy-cloudflare.js
Due: run_app, run_all

fix: harden templ discovery and startup
  backend/src/server.js
  docs/AUDIT_REPORT.md
  frontend/src/App.jsx
  frontend/src/config.js
  frontend/src/services/templs.js
Due: run_app, run_all

fix(frontend): harden loadFactoryTempls block lookup
  frontend/src/services/templs.js
Due: run_app, run_all

docs: document contributor guidelines
  AGENTS.md
Due: none
