Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_backend, run_frontend

Fix hanging backend tests by closing DB and rate limiter
  backend/package-lock.json
  backend/package.json
  backend/src/server.js
  backend/test/flows.test.js
  backend/test/persistence.test.js
Due: run_backend

Delete WEB2_AUDIT_REPORT.MD
  WEB2_AUDIT_REPORT.MD
Due: none

Update WEB3_AUDIT_REPORT.MD
  WEB3_AUDIT_REPORT.MD
Due: none

Update README.md
  README.md
Due: none

docs: add core flow diagrams
  CORE_FLOW_DOCS.MD
  README.md
Due: none

docs: fix templ creation diagram
  CORE_FLOW_DOCS.MD
Due: none

feat(frontend): filter muted messages
  FRONTEND.md
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_frontend

feat(frontend): add moderation and execution helpers
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_frontend

test: run core flow against live services
  BROKEN_FLOWS.MD
  frontend/src/core-flows.e2e.test.js
Due: run_frontend

ci: run app tests on single worker
  .circleci/config.yml
  .circleci/continue.yml
Due: none

feat: improve e2e logging and error reporting
  .circleci/continue.yml
  BROKEN_FLOWS.MD
  frontend/src/core-flows.e2e.test.js
  frontend/src/flows.js
Due: run_frontend

wip
  README.md
  artifacts/contracts/TEMPL.sol/IERC20.dbg.json
  artifacts/contracts/TEMPL.sol/IERC20.json
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
Due: none

wip
  backend/src/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/core-flows.e2e.test.js
Due: run_backend, run_frontend

fix: update XMTP SDK integration to use correct API methods
  .gitignore
  backend/src/server.js
  frontend/src/core-flows.e2e.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_backend, run_frontend

trigger test
  backend/package.json
  frontend/package.json
Due: run_backend, run_frontend

fix ci node versions
  .circleci/continue.yml
  package.json
Due: none

fix: add CI fallback for XMTP SDK initialization
  frontend/src/core-flows.e2e.test.js
Due: run_frontend

feat: add Playwright e2e tests for tech demo recording
  frontend/.gitignore
  frontend/e2e/fixtures.js
  frontend/e2e/tech-demo.spec.js
  frontend/e2e/templ-ui.spec.js
  frontend/package.json
  frontend/playwright.config.js
  frontend/src/core-flows.integration.test.js
Due: run_frontend

e2e
  backend/.env.test
  backend/src/server.js
  frontend/demo-recording.md
  frontend/e2e/simple-demo.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright-no-server.config.js
  frontend/playwright-simple.config.js
  frontend/playwright.config.js
  scripts/fund-test-wallet.js
Due: run_backend, run_frontend

fix: e2e tests and add deployment documentation
  DEPLOYMENT.md
  frontend/debug-screenshot.png
  frontend/e2e/debug.spec.js
  frontend/e2e/simple-demo.spec.js
  frontend/e2e/templ-ui.spec.js
  frontend/e2e/working-demo.spec.js
Due: run_frontend

refactor: consolidate e2e tests into single comprehensive flow test
  frontend/e2e/complete-flow.spec.js
  frontend/e2e/debug.spec.js
  frontend/e2e/simple-demo.spec.js
  frontend/e2e/tech-demo.spec.js
  frontend/e2e/templ-ui.spec.js
  frontend/e2e/working-demo.spec.js
Due: run_frontend

wip
  BROKEN_FLOWS.MD
  backend/.env.test
  backend/src/server.js
  frontend/e2e/complete-flow.spec.js
  frontend/e2e/core-flows.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/vite.config.js
Due: run_backend, run_frontend

Handle XMTP metadata calls optionally
  BROKEN_FLOWS.MD
  CORE_FLOW_DOCS.MD
  backend/src/server.js
Due: run_backend

docs: clarify XMTP group ownership
  CORE_FLOW_DOCS.MD
Due: none

chore: restore solidity cache
  frontend/e2e/core-flows.spec.js
  frontend/e2e/fixtures.js
  frontend/playwright.config.js
  frontend/src/core-flows.integration.test.js
Due: run_frontend

chore: use fresh wallets for integration XMTP
  frontend/src/core-flows.integration.test.js
Due: run_frontend

fix: handle signer nonce in integration test
  frontend/src/core-flows.integration.test.js
Due: run_frontend

fix: allow custom tx options in flows
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_frontend

feat: add manual test workflow
  .circleci/continue.yml
Due: none

Fix XMTP nonce rotation in backend
  backend/src/server.js
Due: run_backend

docs: remove redundant slither note
  .circleci/continue.yml
  README.md
Due: none

fix: rotate XMTP inboxes in integration tests
  frontend/src/core-flows.integration.test.js
Due: run_frontend

chore(test): randomize delegate signer
  frontend/src/core-flows.integration.test.js
Due: run_frontend

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_backend: any of: backend/.*
  run_frontend: any of: frontend/.*
