Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

chore(contracts): enable coverage under node 20
  .solcover.cjs
  .solcover.js
  hardhat.config.cjs
  test/MembershipCoverage.test.js
  test/TemplFactory.test.js
Due: run_contracts, run_all

test(contracts): drive validation guards for 100% lines
  .solcover.cjs
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  test/GovernanceCoverage.test.js
  test/MembershipCoverage.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/TreasuryCoverage.test.js
Due: run_contracts, run_all

test(contracts): cover treasury and config guard rails
  contracts/mocks/RevertingClaimer.sol
  test/ChangePriest.test.js
  test/MembershipCoverage.test.js
  test/TemplFactory.test.js
  test/WrapperCoverage.test.js
Due: run_contracts, run_all

chore: remove unused mock sections
  contracts/mocks/TestToken.sol
Due: run_contracts, run_all

test(mocks): cover reentrant token transfer return
  test/Reentrancy.test.js
Due: run_contracts, run_all

docs: refresh templ narrative across docs
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
  scripts/README.md
Due: run_all

docs: clarify protocol tithe and browser env guidance
  README.md
  docs/FRONTEND.md
Due: none

chore: update readme intro
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: fix markdown lint issues
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: none

docs: fix readme lint issues
  README.md
Due: none

fix(contracts): enforce quorum snapshots and reward checkpoints
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/src/contracts/TEMPL.json
  test/VotingEligibility.test.js
Due: run_contracts, run_app, run_all

feat(frontend): allow adjusting templ fee splits
  README.md
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/src/App.jsx
Due: run_app, run_all

test(contracts): backfill coverage edge cases
  contracts/mocks/TemplHarness.sol
  test/CoverageHarness.test.js
Due: run_contracts, run_all

refactor: modularize backend and frontend flows
  backend/src/routes/join.js
  backend/src/routes/templs.js
  backend/src/services/joinTempl.js
  backend/src/services/registerTempl.js
  docs/BACKEND.md
  docs/FRONTEND.md
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/src/hooks/useAppLocation.js
  frontend/src/hooks/useStatusLog.js
  frontend/src/services/deployment.js
  frontend/src/services/governance.js
  frontend/src/services/membership.js
  frontend/src/services/moderation.js
  frontend/src/services/templs.js
  frontend/src/services/utils.js
Due: run_app, run_all

refactor: unify templ xmpt flows and typed data
  backend/src/routes/delegates.js
  backend/src/routes/join.js
  backend/src/routes/mutes.js
  backend/src/routes/templs.js
  backend/src/routes/typed.js
  backend/src/server.js
  backend/src/services/contractValidation.js
  backend/src/services/joinTempl.js
  backend/src/services/registerTempl.js
  backend/src/xmtp/options.js
  docs/BACKEND.md
  docs/SHARED.md
  frontend/src/core-flows.integration.test.js
  frontend/src/services/deployment.js
  frontend/src/services/http.js
  frontend/src/services/membership.js
  frontend/src/services/utils.js
  shared/debug.js
  shared/signing.js
  shared/signing.test.js
  shared/xmtp.js
Due: run_app, run_all

refactor(contracts): reuse active proposal filter
  contracts/TemplGovernance.sol
  docs/CONTRACTS.md
Due: run_contracts, run_all

docs: clarify shared signing test runner
  docs/SHARED.md
Due: none

docs: clarify governance eligibility
  docs/TEST_LOCALLY.md
Due: none

docs: clarify governance voting period
  docs/CONTRACTS.md
Due: none

docs: fix frontend prerequisites link
  docs/FRONTEND.md
Due: none

docs: link XMTP local node instructions
  docs/TEST_LOCALLY.md
Due: none

docs: document e2e environments
  README.md
Due: none

fix(backend): prune stale signature entries
  backend/src/middleware/validate.js
  backend/src/server.js
  backend/test/flows.test.js
Due: run_app, run_all

feat(contracts): derive factory defaults from protocol remainder
  README.md
  contracts/TemplFactory.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/e2e/core-flows.pw.spec.js
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.test.js
  frontend/src/services/deployment.js
  scripts/deploy.js
  test/TemplFactory.test.js
Due: run_contracts, run_app, run_all

fix(frontend): handle zero-first token approvals
  frontend/src/flows.test.js
  frontend/src/services/membership.js
Due: run_app, run_all

chore(contracts): remove invalid execution delay error
  contracts/TemplErrors.sol
  docs/CONTRACTS.md
Due: run_contracts, run_all

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
  run_all: ((((((any of: contracts/.*) or (any of: test/.*)) or (any of: backend/.*)) or (any of: frontend/.*)) or (any of: scripts/.*)) or (any of: shared/.*)) or (any of: deployments/.*)
