Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app

fix(contracts): withdraw accessToken from available balance, preserve member pool
  CONTRACT_AUDIT.md
  WEB3_AUDIT_REPORT.MD
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  test/TreasuryWithdrawAssets.test.js
Due: run_contracts

chore(audit): resolve L-2/L-3/L-4 and optimize active proposals
  CONTRACT_AUDIT.md
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
Due: run_contracts

add gpt5 audit
  CONTRACT_AUDIT.md
Due: none

feat(contracts): quorum + execution delay; priest disband exempt
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  contracts/TemplErrors.sol
  frontend/src/contracts/TEMPL.json
  test/ProposalPagination.test.js
  test/TEMPL.test.js
Due: run_contracts, run_app

docs
  CONTRACTS.md
  CONTRACT_AUDIT.md
  cache/solidity-files-cache.json
  contracts/TEMPL.API.md
  contracts/TEMPL.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/PurchaseCaller.sol
  contracts/mocks/ReentrantToken.sol
  contracts/mocks/TestToken.sol
  package.json
  scripts/generate-docs.js
Due: run_contracts

remove unused comment
  contracts/TEMPL.sol
Due: run_contracts

improve whitepaper
  WHITEPAPER.MD
Due: none

docs(readme): link to WHITEPAPER.MD in Documentation section
  README.md
Due: none

docs: rename docs
  README.md
  docs/TEMPL_TECH_SPEC.MD
Due: none

docs: rename docs
  README.md
Due: none

chore: fix agents location
  AGENTS.md
Due: none

refactor(contracts): modularize templ architecture
  README.md
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/TEMPL_TECH_SPEC.MD
Due: run_contracts

fix(contracts): sync quorum gating and disband payouts
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  scripts/deploy.js
  test/DisbandTreasury.test.js
  test/VotingEligibility.test.js
Due: run_contracts

fix(backend): reject reused typed signatures
  backend/src/middleware/validate.js
  backend/test/flows.test.js
Due: run_app

fix(backend): persist priest updates
  backend/src/routes/templs.js
  backend/test/flows.test.js
Due: run_app

docs: detail backend lint commands
  README.md
Due: none

chore: align local chain settings
  backend/src/routes/delegates.js
  backend/src/routes/join.js
  backend/src/routes/mutes.js
  backend/src/routes/templs.js
  backend/test/flows.test.js
  backend/test/persistence.test.js
  backend/test/server-id-mismatch.test.js
  deployments/deployment-1337-1758199963258.json
  deployments/deployment-base-1755711252787.json
  deployments/deployment-base-1755713158143.json
  deployments/deployment-base-1755713742471.json
  deployments/deployment-base-1755714665735.json
  deployments/deployment-base-1755715236386.json
  deployments/deployment-base-1755716199599.json
  docs/FRONTEND.md
  docs/TEST_LOCALLY.md
  frontend/src/flows.js
  frontend/src/flows.test.js
  package-lock.json
  package.json
  scripts/gen-wallets.js
Due: run_app

fix: harden xmtp flows across stack
  README.md
  backend/src/routes/templs.js
  backend/src/server.js
  docs/BACKEND.md
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
  frontend/src/flows.types.d.ts
Due: run_app

fix(frontend): finish join flow refactor
  README.md
  backend/src/routes/templs.js
  docs/BACKEND.md
  docs/FRONTEND.md
  docs/TEST_LOCALLY.md
  frontend/e2e/core-flows.pw.spec.js
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/src/flows.test.js
  test/DisbandTreasury.test.js
Due: run_contracts, run_app

fix(backend): keep priest-driven flows consistent
  AGENTS.md
  backend/src/routes/templs.js
  backend/src/server.js
  backend/test/flows.test.js
  docs/BACKEND.md
  docs/CONTRACTS.md
  frontend/src/flows.js
Due: run_app

docs: align flow payload docs
  docs/CORE_FLOW_DOCS.MD
Due: none

docs: clarify production verification
  README.md
Due: none

test(contracts): reach full coverage
  .solcover.js
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/mocks/DaoCallerHarness.sol
  test/DisbandTreasury.test.js
  test/ExecuteProposalReverts.test.js
  test/GetProposalStatus.test.js
  test/TEMPL.test.js
  test/WrapperCoverage.test.js
Due: run_contracts

feat: support templ factory fee configuration
  README.md
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/mocks/DaoCallerHarness.sol
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/FRONTEND.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/fixtures.js
  frontend/e2e/tech-demo.pw.spec.js
  frontend/src/App.jsx
  frontend/src/config.js
  frontend/src/contracts/TemplFactory.json
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
  frontend/src/flows.types.d.ts
  scripts/deploy.js
  test/ExecuteProposalReverts.test.js
  test/MemberPool.test.js
  test/Reentrancy.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/UpdateConfigDAO.test.js
  test/VotingEligibility.test.js
  test/WrapperCoverage.test.js
  test/utils/callDataBuilders.js
  test/utils/deploy.js
  test/utils/proposal.js
Due: run_contracts, run_app

chore(repo): align esm config and runbooks
  backend/src/routes/templs.js
  docs/BACKEND.md
  hardhat.config.js
  package.json
  scripts/package.json
  test/package.json
Due: run_contracts, run_app

docs(backend): clarify optional redis dependency
  docs/BACKEND.md
Due: none

docs: update repository documentation
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
  scripts/README.md
Due: none

fix(backend): guard join when group not hydrated
  backend/src/routes/join.js
  backend/src/server.js
  backend/test/flows.test.js
Due: run_app

chore(contracts): support esm solcover config
  .solcover.js
Due: none

docs(contracts): document priest change resets moderation state
  contracts/TemplTreasury.sol
  docs/CONTRACTS.md
Due: run_contracts

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
