Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

cleaup dir
  .monitor-state.json
  .prettierignore
  .prettierrc.json
  .solcover.cjs
  codecov.yml
  contracts/mocks/Bytecode.sol
  contracts/mocks/BytecodeHarness.sol
  contracts/mocks/SSTORE2.sol
  slither.config.json
Due: run_contracts, run_all

cleaup lint
  README.md
  package.json
Due: none

better comments
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
Due: run_contracts, run_all

better docs
  README.md
  contracts/TemplMembership.sol
Due: run_contracts, run_all

fix package versions, improve consistency
  README.md
  contracts/TemplBase.sol
  contracts/TemplDefaults.sol
  contracts/TemplFactory.sol
  npm-shrinkwrap.json
  scripts/deploy-templ.cjs
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/utils/deploy.js
Due: run_contracts, run_all

improve naming
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  echidna.yaml
  test/AnchoredExecutionDelay.test.js
  test/ExecuteProposalReverts.test.js
  test/GetProposalStatus.test.js
  test/GovernanceAdjustParams.test.js
  test/GovernanceCoverage.test.js
  test/MembershipCoverage.test.js
  test/TEMPL.test.js
  test/TEMPLRegisteredSelectors.test.js
  test/TEMPLSelectors.test.js
  test/TemplFactory.test.js
  test/TemplHighLoadStress.test.js
  test/TreasuryOnlyDAOReverts.test.js
Due: run_contracts, run_all

fix inconsistencies
  .solhint.json
  contracts/TemplGovernance.sol
  package.json
  scripts/verify-templ.cjs
Due: run_contracts, run_all

fix inconsistencies
  README.md
  package.json
Due: none

fix inconsistencies
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  contracts/mocks/DaoCallerHarness.sol
  package.json
  test/EntryFeeCurve.test.js
  test/ExecuteProposalReverts.test.js
  test/GovernanceCoverage.test.js
  test/MembershipCoverage.test.js
  test/TemplFactory.test.js
  test/TemplHighLoadStress.test.js
  test/TreasuryOnlyDAOReverts.test.js
  test/UpdateConfigDAO.test.js
  test/WrapperCoverage.test.js
  test/utils/callDataBuilders.js
  test/utils/proposal.js
Due: run_contracts, run_all

fix inconsistencies
  README.md
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  test/GovernanceCoverage.test.js
  test/PriestDictatorship.test.js
  test/ProposalPayloadDecoding.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/UpdateConfigTooLarge.test.js
  test/utils/callDataBuilders.js
  test/utils/proposal.js
Due: run_contracts, run_all

improve
  package.json
Due: none

fix package
  package.json
Due: none

clean ci
  package.json
Due: none

improvements
  .github/workflows/ci.yml
Due: none

natspec
  contracts/TemplFactory.sol
Due: run_contracts, run_all

update docs
  docs/TemplFactory.md
  docs/TemplGovernanceModule.md
  docs/mocks/FeeOnTransferToken.md
Due: none

Delete docs directory
  docs/TEMPL.md
  docs/TemplBase.md
  docs/TemplDefaults.md
  docs/TemplErrors.md
  docs/TemplFactory.md
  docs/TemplGovernanceModule.md
  docs/TemplMembershipModule.md
  docs/TemplTreasuryModule.md
  docs/echidna/EchidnaTemplHarness.md
  docs/mocks/Bytecode.md
  docs/mocks/BytecodeHarness.md
  docs/mocks/ClaimExternalTarget.md
  docs/mocks/DaoCallerHarness.md
  docs/mocks/ExternalCallTarget.md
  docs/mocks/FeeOnTransferToken.md
  docs/mocks/IProposalFeeReentrancyHook.md
  docs/mocks/ITempl.md
  docs/mocks/ITemplGovernanceReentrant.md
  docs/mocks/ITemplGovernanceReentrantExtra.md
  docs/mocks/ITemplMembership.md
  docs/mocks/ITemplMinimal.md
  docs/mocks/JoinCaller.md
  docs/mocks/MockStaking.md
  docs/mocks/ProposalFeeReentrancyAttacker.md
  docs/mocks/ProposalFeeReentrantToken.md
  docs/mocks/ReentrantToken.md
  docs/mocks/RejectEther.md
  docs/mocks/RevertingClaimer.md
  docs/mocks/SSTORE2.md
  docs/mocks/TemplFactoryHarness.md
  docs/mocks/TemplHarness.md
  docs/mocks/TestToken.md
  docs/tools/BatchExecutor.md
Due: none

fix overflows
  AGENTS.md
  README.md
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  docs-templates/contract.hbs
  test/OversizedInputsExplode.test.js
Due: run_contracts, run_all

improve tests
  test/utils/deploy.js
  test/utils/proposal.js
Due: run_contracts, run_all

finish
  README.md
  test/TemplHighLoadStress.test.js
  test/UltimateProdReadiness.test.js
Due: run_contracts, run_all

adjust deploy and verify scripts
  README.md
  scripts/deploy-factory.cjs
  scripts/verify-factory.cjs
  scripts/verify-templ.cjs
Due: run_all

adjust scripts
  package.json
  scripts/deploy-templ.cjs
  scripts/verify-factory.cjs
  scripts/verify-templ.cjs
Due: run_all

add ui guide, lean readme
  README.md
  UI.md
Due: none

improve ui guide
  UI.md
Due: none

clarify deposit donations address
  README.md
  UI.md
Due: none

remove unused param
  UI.md
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  contracts/mocks/DaoCallerHarness.sol
  test/GovernanceCoverage.test.js
  test/PriestDictatorship.test.js
  test/ProdReadiness.test.js
  test/ProposalPayloadDecoding.test.js
  test/SingleProposal.test.js
  test/TEMPL.test.js
  test/TemplHighLoadStress.test.js
  test/TreasuryCoverage.test.js
  test/TreasuryHarness.test.js
  test/TreasuryOnlyDAOReverts.test.js
  test/TreasuryWithdrawAssets.test.js
  test/TreasuryWithdrawEthInsufficient.test.js
  test/TreasuryWithdrawReverts.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/WrapperCoverage.test.js
  test/utils/callDataBuilders.js
  test/utils/proposal.js
Due: run_contracts, run_all

apply wavey feedback
  UI.md
  contracts/TEMPL.sol
  contracts/TemplGovernance.sol
  contracts/mocks/MockMembershipOverride.sol
  test/RoutingUpgrade.test.js
Due: run_contracts, run_all

update readme
  README.md
Due: none

improve readme
  README.md
Due: none

improve docs
  README.md
  UI.md
Due: none

wip
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
Due: run_contracts, run_all

fix
  README.md
  contracts/TemplBase.sol
Due: run_contracts, run_all

final fixes
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplTreasury.sol
  test/ProdReadiness.test.js
  test/RemainderSweep.test.js
  test/TEMPLRegisteredSelectors.test.js
Due: run_contracts, run_all

update docs
  README.md
  contracts/TemplBase.sol
Due: run_contracts, run_all

finish
  UI.md
  contracts/TEMPL.sol
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  scripts/deploy-templ.cjs
  test/InitialCouncilValidation.test.js
Due: run_contracts, run_all

improve councils
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplCouncil.sol
  contracts/TemplFactory.sol
  test/CouncilGovernance.test.js
  test/InitialCouncilValidation.test.js
  test/InstantQuorum.test.js
  test/TemplFactory.test.js
Due: run_contracts, run_all

fix: distribution mermaid chart on README.md
  README.md
Due: none

remove useless docs line
  README.md
Due: none

fix lint
  contracts/TemplDeployer.sol
  contracts/TemplFactory.sol
  contracts/TemplFactoryTypes.sol
Due: run_contracts, run_all

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
  run_all: ((((((any of: contracts/.*) or (any of: test/.*)) or (any of: backend/.*)) or (any of: frontend/.*)) or (any of: scripts/.*)) or (any of: shared/.*)) or (any of: deployments/.*)
