Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_backend, run_frontend

refactor: drop /send fallback
  AGENTS.md
  BACKEND.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  PERSISTENCE.md
  backend/src/server.js
  frontend/e2e/core-flows.spec.js
  frontend/src/flows.js
  frontend/src/flows.types.d.ts
Due: run_backend, run_frontend

test(backend): verify permanent mute escalation
  backend/test/flows.test.js
Due: run_backend

test(frontend): cover fetch error cases
  frontend/src/flows.test.js
Due: run_frontend

docs(backend): clarify XMTP_ENV defaults
  BACKEND.md
Due: none

docs: update entry fee constructor link
  CONTRACTS.md
Due: none

fix(backend): log delegates endpoint
  backend/src/server.js
Due: run_backend

docs(backend): simplify createApp JSDoc
  backend/src/server.js
Due: run_backend

fix(backend): trim allowed origins entries
  backend/src/server.js
  backend/test/cors.test.js
Due: run_backend

docs(frontend): describe mute delegation flows
  FRONTEND.md
Due: none

docs(frontend): clarify XMTP env defaults
  FRONTEND.md
Due: none

test(frontend): use spy for global fetch
  frontend/src/flows.test.js
Due: run_frontend

test(frontend): decode proposal execution error
  frontend/src/core-flows.integration.test.js
Due: run_frontend

feat(frontend): surface status and align e2e selectors
  frontend/src/App.jsx
  frontend/src/pages/Chat.jsx
  frontend/src/pages/CreateTempl.jsx
  frontend/src/pages/JoinTempl.jsx
Due: run_frontend

docs(frontend): remove backend send fallback
  FRONTEND.md
Due: none

docs(contracts): clarify error section comments
  contracts/TEMPL.sol
Due: run_contracts

chore(frontend): enable ts-check in flows
  frontend/src/flows.js
Due: run_frontend

chore: revert unintended artifact changes
  frontend/src/App.jsx
Due: run_frontend

test(backend): add delegate signature validation
  backend/test/flows.test.js
Due: run_backend

test(frontend): add error handling cases
  frontend/src/flows.test.js
Due: run_frontend

test(backend): cover inbox state endpoint
  backend/test/inbox-state.test.js
Due: run_backend

Update FRONTEND.md
  FRONTEND.md
Due: none

Update TEMPL.sol
  contracts/TEMPL.sol
Due: run_contracts

test(contracts): cover DAO helper purchaseAccess
  contracts/PurchaseCaller.sol
  test/SelfPurchase.test.js
Due: run_contracts

test(contracts): cover donation withdrawals
  contracts/TEMPL.sol
  test/TreasuryDonations.test.js
Due: run_contracts

docs(readme): document Node 22.18.0 requirement
  README.md
Due: none

docs: centralize environment variables
  BACKEND.md
  README.md
Due: none

test(backend): cover unauthorized CORS origin
  backend/test/cors.test.js
Due: run_backend

test(frontend): verify mute flow fetch rejection handling
  frontend/src/flows.test.js
Due: run_frontend

feat(backend): validate env vars
  BACKEND.md
  backend/src/server.js
Due: run_backend

docs(contracts): document error conditions
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
Due: run_contracts

feat(frontend): centralize backend url
  frontend/src/config.js
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_frontend

docs: clarify XMTP_MAX_ATTEMPTS default
  BACKEND.md
  README.md
Due: none

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_backend: any of: backend/.*
  run_frontend: any of: frontend/.*
