Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@2.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_app true
            frontend/.* run_app true
            contracts/.* run_all true
            test/.* run_all true
            backend/.* run_all true
            frontend/.* run_all true
            scripts/.* run_all true
            shared/.* run_all true
            deployments/.* run_all true

contract improvements
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  test/EntryFeeCurve.test.js
Due: run_contracts, run_all

add comment
  contracts/TemplGovernance.sol
Due: run_contracts, run_all

Fix governance snapshot gating for same-block joins
  contracts/TemplBase.sol
  test/VotingEligibility.test.js
Due: run_contracts, run_all

Add audit report and strengthen external reward cleanup tests
  audits/templ_audit.md
  test/DisbandTreasury.test.js
Due: run_contracts, run_all

improve contracts
  README.md
  scripts/deploy-factory.js
  scripts/deploy.js
Due: run_all

improve contracts
  README.md
  contracts/TemplBase.sol
  contracts/TemplMembership.sol
  package.json
  scripts/README.md
  scripts/__mocks__/wrangler-success.js
  scripts/deploy-factory.cjs
  scripts/deploy-templ.cjs
  scripts/package.json
  scripts/verify-templ.cjs
  scripts/verify/default-templ-args.js
  test/MembershipCoverage.test.js
  test/TEMPL.test.js
  test/TreasuryWithdrawAssets.test.js
Due: run_contracts, run_all

improve contracts
  .circleci/config.yml
  .circleci/continue.yml
  contracts/TemplMembership.sol
  scripts/run-slither-ci.sh
Due: run_contracts, run_all

improve contracts
  README.md
Due: none

Delete audits/templ_audit.md
  audits/templ_audit.md
Due: none

clarify stress test comment
  test/templ.curve.saturation.test.js
Due: run_contracts, run_all

fix proposal reentrancy
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/libraries/TemplStorageLib.sol
  contracts/mocks/ProposalFeeReentrancyAttacker.sol
  contracts/mocks/ProposalFeeReentrantToken.sol
  test/ProposalFeeReentrancy.test.js
Due: run_contracts, run_all

fix template
  audits/llm-audit-template.md
Due: none

Reset external reward history on cleanup
  contracts/TemplBase.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/libraries/TemplStorageLib.sol
  test/DisbandTreasury.test.js
Due: run_contracts, run_all

standardize things
  README.md
  audits/llm-audit-template.md
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/libraries/TemplStorageLib.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/TemplFactoryHarness.sol
  contracts/mocks/TemplHarness.sol
  scripts/deploy-factory.cjs
  scripts/deploy-templ.cjs
  scripts/verify-templ.cjs
  test/ClaimMemberPool.test.js
  test/CoverageHarness.test.js
  test/ExecuteProposalReverts.test.js
  test/FeeDistributionInvariant.test.js
  test/GovernanceCoverage.test.js
  test/MaxMembersPause.test.js
  test/MembershipCoverage.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/UpdateConfigDAO.test.js
  test/WrapperCoverage.test.js
  test/templ.curve.saturation.test.js
  test/utils/callDataBuilders.js
  test/utils/deploy.js
  test/utils/proposal.js
Due: run_contracts, run_all

standardize things
  README.md
  scripts/deploy-factory.cjs
  scripts/deploy-templ.cjs
  scripts/verify-templ.cjs
Due: run_all

fix function open to be griefed
  README.md
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  test/DisbandTreasury.test.js
Due: run_contracts, run_all

fix function open to be griefed
  README.md
Due: none

add diagrams
  README.md
Due: none

improve diagrams
  README.md
Due: none

improve docs
  README.md
  test/TEMPLSelectors.test.js
Due: run_contracts, run_all

improve docs
  README.md
Due: none

improve readme
  .tmp-wallet-key
  README.md
  audit/SECURITY_AUDIT.md
  contracts/libraries/TemplStorageLib.sol
  coverage.json
  hardhat.config.cjs
Due: run_contracts, run_all

complete natspec
  contracts/TEMPL.sol
  contracts/TemplGovernance.sol
  test/ProposalPayloadDecoding.test.js
  test/TEMPLSelectors.test.js
Due: run_contracts, run_all

fix inconsistencies
  .gitignore
  deployments/factory-8453-1760295807872.json
  deployments/factory-8453-1760296680259.json
  package.json
  scripts/deploy-templ.cjs
  scripts/verify-templ.cjs
Due: run_all

add slither
  .github/workflows/ci.yml
Due: none
