Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@2.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_app true
            frontend/.* run_app true
            contracts/.* run_all true
            test/.* run_all true
            backend/.* run_all true
            frontend/.* run_all true
            scripts/.* run_all true
            shared/.* run_all true
            deployments/.* run_all true

fix deploy scripts
  AUDIT_CLAUDE.md
  AUDIT_CODEX.md
  INCONSISTENCIES_CLAUDE.md
  INCONSISTENCY.md
  scripts/deploy-factory-multichain.mjs
Due: run_all

fix readme issues
  INCONSISTENCIES_CLAUDE.md
  INCONSISTENCIES_CODEX.md
Due: none

soft audit
  CODEX_AUDIT.md
Due: none

soft audit
  CODEX_AUDIT.md
  PR_DESCRIPTION.md
Due: none

sudit
  GPT-5.2-PRO-AUDIT.md
Due: none

wipwip
  GPT-5.2-PRO-AUDIT.md
  contracts/TemplGovernance.sol
Due: run_contracts, run_all

wip
  README.md
  UI.md
  audit1.md
  audit2.md
  code.zip
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  test/CouncilGovernance.test.js
  test/EntryFeeCurve.test.js
  test/EntryFeeFloorRegression.test.js
  test/EntryFeeMaxSaturation.test.js
  test/Reentrancy.test.js
Due: run_contracts, run_all

wip
  audit1.md
  audit2.md
Due: none

improve readme
  README.md
  UI.md
Due: none

fixes
  INCONSISTENCIES.md
  audit-pro.md
  audit.md
  code.zip
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
Due: run_contracts, run_all

fix inconsistencies
  INCONSISTENCIES.md
  README.md
  UI.md
Due: none

lean
  README.md
  UI.md
  audit-pro.md
  audit.md
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/mocks/ClaimExternalTarget.sol
  contracts/mocks/ReentrantToken.sol
  contracts/mocks/RevertingClaimer.sol
  contracts/mocks/TemplHarness.sol
  test/ClaimMemberPool.test.js
  test/CouncilGovernance.test.js
  test/CoverageHarness.test.js
  test/DirectModuleCallGuard.test.js
  test/DisbandTreasury.test.js
  test/EntryFeeCurve.test.js
  test/ExternalRewardLimits.test.js
  test/ExternalRewardReconcile.test.js
  test/ExternalRewardsCheckpointFlush.test.js
  test/ExternalRewardsRemainder.test.js
  test/FactorySafeDeploy.test.js
  test/MembershipCoverage.test.js
  test/ProdReadiness.test.js
  test/ProposalPayloadDecoding.test.js
  test/Reentrancy.test.js
  test/RemainderSweep.test.js
  test/RewardWithdrawals.test.js
  test/TEMPLRegisteredSelectors.test.js
  test/TemplHighLoadStress.test.js
  test/TreasuryCoverage.test.js
  test/TreasuryDAOExhaustive.test.js
  test/TreasuryOnlyDAOReverts.test.js
  test/WrapperCoverage.test.js
Due: run_contracts, run_all

quorum
  UI.md
  contracts/TemplGovernance.sol
  test/GetProposalStatus.test.js
Due: run_contracts, run_all

remove old audits
  audit-pro.md
  audit.md
Due: none

fix inconsistencies
  README.md
  UI.md
  code.zip
Due: none

fixes
  README.md
  UI.md
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplGovernance.sol
  test/EntryFeeCurve.test.js
  test/GovernanceExternalCall.test.js
  test/NonVanillaTokenJoin.test.js
Due: run_contracts, run_all

optimizations
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplCouncil.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplModuleBase.sol
  contracts/TemplTreasury.sol
  package.json
Due: run_contracts, run_all

fixes
  contracts/TemplGovernance.sol
  test/PostQuorumVotingPeriod.test.js
Due: run_contracts, run_all

remove zip
  code.zip
Due: none

fixes
  README.md
  UI.md
  contracts/mocks/TestNFT.sol
  test/CouncilGovernance.test.js
  test/DisbandNonAccessTreasury.test.js
  test/GovernanceThresholdSnapshots.test.js
  test/JoinWithMaxEntryFee.test.js
  test/NFTTreasuryGovernance.test.js
  test/OversizedInputsExplode.test.js
Due: run_contracts, run_all

fixes
  README.md
  UI.md
  test/InstantQuorum.test.js
  test/JoinFor.test.js
  test/OversizedInputsExplode.test.js
  test/ProposalPayloadDecoding.test.js
  test/ProposalVotingMode.test.js
Due: run_contracts, run_all

docs and tests
  README.md
  UI.md
  code.zip
  test/CouncilGovernance.test.js
  test/GovernanceExternalCallBatch.test.js
  test/JoinWithMaxEntryFee.test.js
  test/ReferralEdgeCases.test.js
Due: run_contracts, run_all

improvements
  README.md
  UI.md
  scripts/deploy-templ.cjs
  test/ChangePriest.test.js
  test/DisbandNonAccessTreasury.test.js
  test/DisbandTreasury.test.js
  test/GetProposalStatus.test.js
  test/GovernanceCoverage.test.js
  test/MaxMembersPause.test.js
  test/SingleProposal.test.js
  test/TreasuryCoverage.test.js
  test/TreasuryWithdrawAssets.test.js
  test/TreasuryWithdrawEthInsufficient.test.js
  test/TreasuryWithdrawReverts.test.js
  test/UniformVoteWeight.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/utils/deploy.js
Due: run_contracts, run_all

fix audit issues
  README.md
  UI.md
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/tools/BatchExecutor.sol
  test/BatchExecutor.test.js
  test/OversizedInputsExplode.test.js
  test/TreasuryWithdrawReverts.test.js
Due: run_contracts, run_all

readme
  README.md
  UI.md
  ralph_wiggum_last_message.txt
  ralph_wiggum_logs.jsonl
  ralph_wiggum_logs.txt
Due: none

irngore rw logs
  .gitignore
Due: none

remove audit files
  gpt-pro-audit.md
  gpt-pro-test-audit.md
Due: none

readme improvements
  README.md
Due: none

Update README.md
  README.md
Due: none

better deploys scripts verification
  scripts/deploy-factory-multichain.mjs
  scripts/deploy-factory.cjs
Due: run_all

better deploy
  scripts/deploy-templ-multichain.mjs
  scripts/deploy-templ.cjs
Due: run_all
