Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app

chore(frontend): eslint auto-fix in test-utils mocks
  frontend/test-utils/mocks.js
Due: run_app

build(root): relax versions to caret ranges to satisfy npm-shrinkwrap for npm ci on CI
  package.json
Due: none

backend: disable rate limiting in NODE_ENV=test to prevent 429 during e2e debug/membership polling
  backend/src/server.js
Due: run_app

e2e: accept hidden status as send success; soften viewer message assertions; keep backend membership as truth
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/tech-demo.pw.spec.js
Due: run_app

e2e(core-flows): extend backend-connected window; accept /debug/last-join match as connected signal
  frontend/e2e/core-flows.pw.spec.js
Due: run_app

e2e: trim retries across tests to reduce log noise (address PAGE LOG spam)
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/tech-demo.pw.spec.js
Due: run_app

e2e: cap all retry loops to <=3 iterations as requested
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/tech-demo.pw.spec.js
Due: run_app

fix pacjage versions
  package-lock.json
  scripts/test-all.sh
Due: none

fix ci
  frontend/package.json
Due: run_app

fixes
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  backend/src/middleware/validate.js
  backend/src/routes/debug.js
  backend/src/routes/join.js
  backend/src/routes/templs.js
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
Due: run_contracts, run_app

improvements
  BACKEND.md
  CORE_FLOW_DOCS.MD
  PERSISTENCE.md
  README.md
  backend/src/routes/join.js
  backend/src/routes/templs.js
  backend/src/xmtp/index.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_app

docs: consolidate persistence docs; expand README with Security & Hardening (server-bound signatures, DB encryption, debug/CORS policies); remove appendix file and update links
  PERSISTENCE.md
  PERSISTENCE_APPENDIX.md
  README.md
Due: none

docs(readme): align e2e XMTP env defaults to dev\ndocs(contracts): clarify sweepMemberRewardRemainderDAO drains full pool\ntest(backend): reject /templs on BACKEND_SERVER_ID mismatch
  CONTRACTS.md
  README.md
  backend/test/server-id-mismatch.test.js
Due: run_app

feat(frontend): add 'Sweep Full Pool → Me' quick action with explicit warning; encode sweepMemberRewardRemainderDAO call
  frontend/src/App.jsx
Due: run_app

improve docs
  BACKEND.md
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  README.md
Due: none

feat(governance,ui): simplify DAO actions to treasury/pause/reprice; add UI entry fee + decimals display for reprice modal; update ABI, tests, and docs
  AGENTS.md
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  WEB3_AUDIT_REPORT.MD
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  contracts/TemplErrors.sol
  frontend/src/App.jsx
  frontend/src/contracts/TEMPL.json
  test/MemberPool.test.js
  test/SweepMemberRemainder.test.js
  test/TEMPL.test.js
  test/TreasuryDonations.test.js
  test/UpdateConfigDAO.test.js
  test/utils/callDataBuilders.js
Due: run_contracts, run_app

run tests in main
  .circleci/continue.yml
Due: none

test(integration): cover reprice and disband proposals in core-flows integration test; keep e2e stable
  .circleci/config.yml
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/proposals-extra.pw.spec.js
  frontend/src/core-flows.integration.test.js
Due: run_app

fix ci
  .circleci/config.yml
Due: none

fix ci
  .circleci/config.yml
  .circleci/continue.yml
Due: none

chore: remove sweep references
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  README.md
  backend/src/routes/join.js
  contracts/TEMPL.sol
  frontend/src/App.jsx
  shared/signing.js
  slither.config.json
  test/MemberPool.test.js
  test/TEMPL.test.js
Due: run_contracts, run_app

docs: clarify donation terminology
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  WEB3_AUDIT_REPORT.MD
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  frontend/src/App.jsx
  frontend/src/contracts/TEMPL.json
  test/SingleProposal.test.js
  test/TEMPL.test.js
  test/TreasuryWithdrawAssets.test.js
  test/TreasuryWithdrawReverts.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/utils/callDataBuilders.js
Due: run_contracts, run_app

test(contracts): cover remaining TEMPL paths
  contracts/mocks/ExecuteCallHarness.sol
  test/ExecuteCallHarness.test.js
  test/TEMPL.test.js
  test/TreasuryWithdrawAssets.test.js
  test/TreasuryWithdrawReverts.test.js
Due: run_contracts

chore(contracts): mark selector helper as pure
  contracts/TEMPL.sol
Due: run_contracts

improve readmes
  BACKEND.md
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  WEB3_AUDIT_REPORT.MD
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TemplErrors.sol
Due: run_contracts

improve docs
  BACKEND.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  README.md
  TEST_LOCALLY.md
Due: none

improve docs
  CORE_FLOW_DOCS.MD
  README.md
Due: none

refactor(contracts): remove callData path; use typed proposal creators; strip inline comments
  contracts/TEMPL.sol
Due: run_contracts

ci: ensure tests pass with typed proposals; frontend fallback to legacy createProposal in tests
  frontend/src/flows.js
Due: run_app

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
