Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@2.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_app true
            frontend/.* run_app true
            contracts/.* run_all true
            test/.* run_all true
            backend/.* run_all true
            frontend/.* run_all true
            scripts/.* run_all true
            shared/.* run_all true
            deployments/.* run_all true

fix: allow frontend env prefixes in deploy script
  scripts/deploy-cloudflare.js
Due: run_all

fix(frontend): improve templ creation flow
  frontend/src/App.jsx
  frontend/src/data/baseTokens.js
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/services/deployment.js
Due: run_app, run_all

test(frontend): stabilise connect button selectors
  frontend/e2e/basic-flows.pw.spec.js
  frontend/e2e/extended-governance.pw.spec.js
  frontend/src/data/baseTokens.js
Due: run_app, run_all

feat(frontend): add wallet disconnect control
  frontend/e2e/basic-flows.pw.spec.js
  frontend/e2e/extended-governance.pw.spec.js
  frontend/src/App.jsx
  frontend/src/pages/HomePage.jsx
Due: run_app, run_all

fix(frontend): recover templ address from fallback logs
  frontend/src/services/deployment.js
Due: run_app, run_all

feat(scripts): add templ verification helper
  scripts/verify-templ.js
Due: run_all

fix(frontend): defer templ registration signature until binding
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/JoinTemplPage.jsx
  frontend/src/services/deployment.js
  frontend/src/services/membership.js
Due: run_app, run_all

feat(backend): auto-register templs from trusted factory
  backend/src/server.js
  backend/src/services/factoryIndexer.js
  backend/src/services/registerTempl.js
  backend/test/factoryIndexer.test.js
  docs/BACKEND.md
  docs/DEPLOYMENT_GUIDE.md
  docs/TEST_LOCALLY.md
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/services/deployment.js
Due: run_app, run_all

chore(backend): allow shared telegram bindings across templs
  backend/src/persistence/index.js
  backend/src/persistence/schema.sql
  backend/test/services.test.js
  docs/BACKEND.md
Due: run_app, run_all

chore(backend): add sqlite migration runner and drop d1 references
  AGENTS.md
  backend/migrations/001_drop_telegram_unique.sql
  backend/package.json
  backend/scripts/migrate.js
  backend/src/persistence/index.js
  backend/src/server.js
  docs/BACKEND.md
  docs/DEPLOYMENT_GUIDE.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
  scripts/README.md
  scripts/test-all.sh
  scripts/test-deploy-cloudflare-skip-worker.mjs
Due: run_app, run_all

feat: auto-register templs without user signature
  backend/src/routes/templs.js
  backend/test/app.test.js
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/services/deployment.js
Due: run_app, run_all

refactor: rely on on-chain metadata for templ registration
  backend/migrations/002_remove_priest_column.sql
  backend/src/persistence/index.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/app.test.js
  backend/test/services.test.js
  docs/BACKEND.md
  docs/PERSISTENCE.md
  docs/TEST_LOCALLY.md
  frontend/src/services/deployment.js
Due: run_app, run_all

chore: fix migration
  backend/scripts/migrate.js
Due: run_app, run_all

feat(contracts): add governance-controlled join fee curve
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  docs/CONTRACTS.md
  docs/TEMPL_TECH_SPEC.MD
  frontend/e2e/basic-flows.pw.spec.js
  test/MembershipCoverage.test.js
  test/TemplFactory.test.js
  test/UpdateConfigDAO.test.js
Due: run_contracts, run_app, run_all

chore: ignore playwright artifacts
  .gitignore
Due: none

wip
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/TemplHarness.sol
  docs/CONTRACTS.md
  docs/FRONTEND.md
  frontend/.pw-results/.last-run.json
  frontend/.pw-results/basic-flows.pw-Templ-core--bec97-rn-and-execute-via-UI-flows-basic-flows/error-context.md
  frontend/.pw-results/basic-flows.pw-Templ-core--bec97-rn-and-execute-via-UI-flows-basic-flows/test-failed-1.png
  frontend/.pw-results/basic-flows.pw-Templ-core--bec97-rn-and-execute-via-UI-flows-basic-flows/video.webm
  frontend/.pw-results/extended-governance.pw-Ext-7a4c1-y-and-disband-flows-succeed-basic-flows/video.webm
  frontend/.pw-results/extended-governance.pw-Ext-8fbca-p-gating-operate-end-to-end-basic-flows/video.webm
  frontend/src/contracts/TEMPL.json
  frontend/src/contracts/TemplFactory.json
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/NewProposalPage.jsx
  frontend/src/pages/NewProposalPage.test.jsx
  frontend/src/pages/TemplOverviewPage.jsx
  frontend/src/services/governance.js
  frontend/src/services/membership.js
  test/CoverageHarness.test.js
  test/MemberPool.test.js
  test/MembershipCoverage.test.js
  test/Reentrancy.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/UpdateConfigDAO.test.js
  test/WrapperCoverage.test.js
  test/utils/deploy.js
  test/utils/mintAndPurchase.js
Due: run_contracts, run_app, run_all

feat(curve): support configurable curves and 249 cap
  backend/src/services/contractValidation.js
  backend/src/services/factoryIndexer.js
  backend/test/factoryIndexer.test.js
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplCurve.sol
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/libraries/SSTORE2.sol
  contracts/libraries/utils/Bytecode.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/TemplHarness.sol
  docs/TEMPL_TECH_SPEC.MD
  frontend/e2e/basic-flows.pw.spec.js
  frontend/src/contracts/TemplFactory.json
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/NewProposalPage.jsx
  frontend/src/services/deployment.js
  frontend/src/services/governance.js
  hardhat.config.cjs
  test/EntryFeeCurve.test.js
  test/MemberPool.test.js
  test/Reentrancy.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/utils/deploy.js
  test/utils/mintAndPurchase.js
Due: run_contracts, run_app, run_all

fix(backend): restore legacy templ factory event
  backend/src/constants/templFactoryEvents.js
  backend/test/factoryIndexer.test.js
  backend/test/templFactoryEvents.test.js
Due: run_app, run_all

refactor(curve): collapse entry fee pivot
  backend/src/constants/templFactoryEvents.js
  backend/src/services/contractValidation.js
  backend/src/services/factoryIndexer.js
  backend/test/contractValidation.test.js
  backend/test/factoryIndexer.test.js
  backend/test/templFactoryEvents.test.js
  contracts/TemplBase.sol
  contracts/TemplCurve.sol
  contracts/TemplFactory.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/TemplHarness.sol
  docs/BACKEND.md
  docs/TEST_LOCALLY.md
  frontend/src/contracts/TEMPL.json
  frontend/src/contracts/TemplFactory.json
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/NewProposalPage.jsx
  frontend/src/services/deployment.js
  test/EntryFeeCurve.test.js
  test/TemplFactory.test.js
  test/utils/deploy.js
Due: run_contracts, run_app, run_all

fix(scripts): supply curve config to templ factory
  docs/TEST_LOCALLY.md
  scripts/README.md
  scripts/deploy.js
Due: run_all

fix(scripts): match factory log topics for verify
  scripts/verify-templ.js
Due: run_all

docs: align documentation with chat-first flow
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/SHARED.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: none

chore: ignore xmtp artifacts and refine deployment flow
  .gitignore
  backend/xmtp-dev-c37312a707eed9092bd90c132cb7d7a6795a2700e1edeb118b7a8b6e83b1cf8a.db3
  backend/xmtp-dev-c37312a707eed9092bd90c132cb7d7a6795a2700e1edeb118b7a8b6e83b1cf8a.db3-shm
  backend/xmtp-dev-c37312a707eed9092bd90c132cb7d7a6795a2700e1edeb118b7a8b6e83b1cf8a.db3-wal
  backend/xmtp-dev-c37312a707eed9092bd90c132cb7d7a6795a2700e1edeb118b7a8b6e83b1cf8a.db3.sqlcipher_salt
  docs/DEPLOYMENT_GUIDE.md
  scripts/test-all.sh
Due: run_app, run_all

chore: align xmpt test workflows
  .circleci/continue.yml
  .gitmodules
  AGENTS.md
  README.md
  docs/BACKEND.md
  docs/FRONTEND.md
  docs/TEST_LOCALLY.md
  frontend/e2e/basic-flows.pw.spec.js
  frontend/playwright.config.js
  frontend/src/pages/ChatPage.jsx
  package.json
  scripts/run-e2e-matrix.mjs
  scripts/run-xmtp-local.sh
  scripts/test-all.sh
Due: run_app, run_all

fix(backend): ensure xmpt metadata comes from chain
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/services/joinTempl.js
  backend/src/services/registerTempl.js
  backend/src/services/templMetadata.js
  backend/src/xmtp/options.js
  backend/test/app.test.js
Due: run_app, run_all

docs: align guides with chain-sourced metadata
  AGENTS.md
  README.md
  docs/BACKEND.md
  docs/DEPLOYMENT_GUIDE.md
  docs/TEST_LOCALLY.md
Due: none

fix(backend): require sqlite persistence for xmpt bindings
  AGENTS.md
  README.md
  backend/.env.test
  backend/src/persistence/index.js
  backend/test/app.test.js
  docs/BACKEND.md
  docs/DEPLOYMENT_GUIDE.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: run_app, run_all

fix(backend): hydrate xmtp group during auto registration
  backend/src/routes/templs.js
  backend/test/app.test.js
Due: run_app, run_all

docs: clarify persistence legend
  docs/CORE_FLOW_DOCS.MD
Due: none

fix(backend): apply sqlite fallback when env missing
  backend/src/server.js
  backend/test/app.test.js
Due: run_app, run_all

fix(frontend): avoid duplicate proposal cards
  frontend/src/pages/ChatPage.jsx
Due: run_app, run_all

fix(frontend): dedupe proposals and favor local e2e
  AGENTS.md
  frontend/src/pages/ChatPage.jsx
  scripts/test-all.sh
Due: run_app, run_all

docs: remove historical phrasing
  README.md
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
Due: none

circumvent contract limit deploy issue
  contracts/TemplFactory.sol
  contracts/mocks/TemplFactoryHarness.sol
  test/TemplFactory.test.js
Due: run_contracts, run_all
