Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@2.0.1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_app true
            frontend/.* run_app true
            contracts/.* run_all true
            test/.* run_all true
            backend/.* run_all true
            frontend/.* run_all true
            scripts/.* run_all true
            shared/.* run_all true
            deployments/.* run_all true

add slither
  .github/workflows/ci.yml
Due: none

fix load tests
  test/TemplHighLoadStress.test.js
Due: run_contracts, run_all

improve banner
  README.md
Due: none

improve consistency
  README.md
Due: none

improve consistency
  deployments/deployment-1337-1758199963258.json
  deployments/factory-8453-1760295807872.json
  deployments/factory-8453-1760296680259.json
Due: run_all

improve inconsistencies
  test/TemplHighLoadStress.test.js
Due: run_contracts, run_all

improve inconsistencies
  README.md
  package.json
  test/TemplHighLoadStress.test.js
  test/fuzz/ConfigBpsFuzz.test.js
  test/fuzz/RandomScenarioFuzz.test.js
Due: run_contracts, run_all

improve natspec
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/libraries/SSTORE2.sol
  contracts/libraries/utils/Bytecode.sol
Due: run_contracts, run_all

fix inconsistencies
  README.md
  test/fuzz/ConfigBpsFuzz.test.js
Due: run_contracts, run_all

remove old fuzz tests
  package.json
  test/fuzz/ConfigBpsFuzz.test.js
  test/fuzz/RandomScenarioFuzz.test.js
Due: run_contracts, run_all

fix reentrancy
  contracts/TemplGovernance.sol
Due: run_contracts, run_all

remove file
  ISSUES_TO_FIX.md
Due: none

remove unused things
  README.md
  contracts/TEMPL.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/mocks/DaoCallerHarness.sol
  contracts/mocks/TemplFactoryHarness.sol
Due: run_contracts, run_all

remove unused things
  scripts/deploy-templ.cjs
  test/DisbandTreasury.test.js
  test/ProposalPagination.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/TreasuryWithdrawAssets.test.js
  test/utils/callDataBuilders.js
Due: run_contracts, run_all

intros
  README.md
  contracts/TEMPL.sol
Due: run_contracts, run_all

add register test
  README.md
  test/TEMPLRegisteredSelectors.test.js
Due: run_contracts, run_all

more tests
  .solcover.cjs
  AGENTS.md
  test/BytecodeSizeLimit.test.js
  test/FeeExtremes.test.js
  test/ReferralEdgeCases.test.js
  test/SplitTypes.test.js
  test/TreasuryOnlyDAOReverts.test.js
  test/VotingEligibility.test.js
Due: run_contracts, run_all

improve tests
  AGENTS.md
  AUDIT.md
  README.md
  contracts/TemplMembership.sol
  contracts/mocks/FeeOnTransferToken.sol
  test/AnchoredExecutionDelay.test.js
  test/UnsupportedToken.test.js
Due: run_contracts, run_all

improve tests
  test/AnchoredExecutionDelay.test.js
Due: run_contracts, run_all

improve tests
  AUDIT.md
Due: none

improve tests
  README.md
  contracts/TemplErrors.sol
  package.json
Due: run_contracts, run_all

fix ci
  .github/workflows/ci.yml
  README.md
Due: none

Apply suggestions from code review
  .github/workflows/ci.yml
Due: none

apply contract lint
  .solhint.json
  .solhintignore
  README.md
  contracts/TemplGovernance.sol
  contracts/TemplTreasury.sol
  package.json
Due: run_contracts, run_all

update ci
  .github/workflows/ci.yml
Due: none

improve batched call exmaple
  README.md
Due: none

improve factory deployer controls
  README.md
  contracts/TemplFactory.sol
  contracts/mocks/TemplFactoryHarness.sol
  package.json
  scripts/deploy-factory.cjs
  scripts/deploy-templ.cjs
  test/BytecodeSizeLimit.test.js
  test/TemplFactory.test.js
Due: run_contracts, run_all

lint changes
  .solhint.json
Due: none

fix lint
  .solhint.json
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  scripts/deploy-factory.cjs
  scripts/deploy-templ.cjs
  test/TEMPLRegisteredSelectors.test.js
  test/TEMPLSelectors.test.js
Due: run_contracts, run_all

remove useless fix
  package.json
Due: none

lint fixes
  .solhint.json
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/mocks/BytecodeHarness.sol
Due: run_contracts, run_all

lint fixes
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  package-lock.json
Due: run_contracts, run_all

fix
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  test/MembershipCoverage.test.js
Due: run_contracts, run_all

fix packagejson
  package.json
Due: none

imrpove detection condition
  .github/workflows/ci.yml
  package-lock.json
Due: none

fix package
  package-lock.json
  package.json
Due: none

fix lint issues
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplFactory.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/tools/BatchExecutor.sol
  package-lock.json
Due: run_contracts, run_all
