Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

feat(contracts): add external reward cleanup path
  README.md
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplErrors.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/mocks/TemplHarness.sol
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/TEMPL_TECH_SPEC.MD
  frontend/src/contracts/TEMPL.json
  frontend/src/services/membership.js
  frontend/src/services/membership.test.js
  test/CoverageHarness.test.js
  test/DisbandTreasury.test.js
Due: run_contracts, run_app, run_all

test(coverage): exercise cleanup branches
  contracts/mocks/TemplHarness.sol
  test/CoverageHarness.test.js
  test/DisbandTreasury.test.js
  test/TemplFactory.test.js
Due: run_contracts, run_all

chore(docs): remove obsolete doc audit note
  docs/DOC_AUDIT.md
Due: none

test(e2e): adjust disband flow for unlocked joins
  frontend/e2e/extended-governance.pw.spec.js
Due: run_app, run_all

chore(frontend): sync templ abi
  frontend/src/contracts/TEMPL.json
Due: run_app, run_all

docs: streamline readme and align supporting docs
  README.md
  docs/BACKEND.md
  docs/README.md
  docs/TEMPL_TECH_SPEC.MD
Due: none

chore: document disband quorum intent and token warning
  docs/CONTRACTS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/TEMPL_TECH_SPEC.MD
  scripts/deploy.js
Due: run_all

docs: clarify backend metadata scope
  README.md
  docs/BACKEND.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
Due: none

Update README.md
  README.md
Due: none

docs: add learning templ path
  README.md
Due: none

docs: align templ docs with notifier coverage
  backend/src/telegram.js
  docs/BACKEND.md
  frontend/.env.example
  frontend/src/pages/ClaimRewardsPage.jsx
Due: run_app, run_all

docs: focus deployment guide on cloudflare
  docs/DEPLOYMENT_GUIDE.md
Due: none

docs: link markdown
  AGENTS.md
  docs/BACKEND.md
  docs/FRONTEND.md
  docs/TEST_LOCALLY.md
Due: none

docs: fix md
  docs/DEPLOYMENT_GUIDE.md
Due: none

docs: clarify wrangler usage in deployment guide
  docs/DEPLOYMENT_GUIDE.md
Due: none

docs: align deployment flow with factory-first rollout
  docs/DEPLOYMENT_GUIDE.md
  scripts/README.md
  scripts/deploy-factory.js
  scripts/deploy.js
Due: run_all

docs: clean timeless references and update join proposal actions
  docs/CONTRACTS.md
  frontend/index.html
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/pages/ClaimRewardsPage.jsx
  frontend/src/pages/NewProposalPage.jsx
  frontend/src/services/governance.js
  scripts/README.md
  test/DisbandTreasury.test.js
  test/ProposalPagination.test.js
  test/SingleProposal.test.js
  test/TEMPL.test.js
  test/VotingEligibility.test.js
Due: run_contracts, run_app, run_all

docs: clarify quorum defaults and slither setup
  README.md
  docs/CONTRACTS.md
Due: none

docs: remove useless text
  docs/TEMPL_TECH_SPEC.MD
Due: none

docs: refresh protocol handbook
  README.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND.md
  docs/README.md
  docs/TEMPL_TECH_SPEC.MD
Due: none

fix(frontend): sanitize templ link metadata
  frontend/src/App.jsx
  frontend/src/pages/HomeLinkSanitization.test.jsx
  frontend/src/pages/JoinTemplPage.jsx
  frontend/src/services/membership.js
  frontend/src/services/templs.js
  shared/linkSanitizer.js
Due: run_app, run_all

feat(contracts): gate templ deployments behind permissionless flag
  contracts/TemplErrors.sol
  contracts/TemplFactory.sol
  docs/CONTRACTS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  docs/TEMPL_TECH_SPEC.MD
  test/TemplFactory.test.js
Due: run_contracts, run_all

feat(factory): support delegated priest deployments
  contracts/TemplFactory.sol
  docs/CONTRACTS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/TEMPL_TECH_SPEC.MD
  test/TemplFactory.test.js
Due: run_contracts, run_all

chore(repo): align deployment with fly + pages
  .dockerignore
  README.md
  backend/Dockerfile
  backend/fly.example.toml
  backend/src/config.js
  backend/src/server.js
  docs/BACKEND.md
  docs/CORE_FLOW_DOCS.MD
  docs/DEPLOYMENT_GUIDE.md
  docs/PERSISTENCE.md
  docs/TEMPL_TECH_SPEC.MD
  docs/TEST_LOCALLY.md
  scripts/cloudflare.deploy.example.env
  scripts/deploy-cloudflare.js
Due: run_app, run_all

fix: allow frontend env prefixes in deploy script
  scripts/deploy-cloudflare.js
Due: run_all

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
  run_all: ((((((any of: contracts/.*) or (any of: test/.*)) or (any of: backend/.*)) or (any of: frontend/.*)) or (any of: scripts/.*)) or (any of: shared/.*)) or (any of: deployments/.*)
