Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_backend, run_frontend

test(backend): add XMTP rotation attempt limit
  BACKEND.md
  README.md
  backend/src/server.js
  backend/test/xmtp-rotation.test.js
Due: run_backend

test(frontend): cover unauthorized join and muting
  frontend/e2e/core-flows.spec.js
  frontend/src/flows.test.js
Due: run_frontend

test(backend): allow custom rate limit store
  BACKEND.md
  backend/src/config.js
  backend/src/server.js
  backend/test/rate-limit-store.test.js
Due: run_backend

chore(backend): declare redis modules
  backend/src/types.d.ts
  backend/tsconfig.json
Due: run_backend

test: add deploy fixture
  test/ClaimMemberPool.test.js
  test/ExecuteProposalReverts.test.js
  test/FeeDistributionInvariant.test.js
  test/MemberPool.test.js
  test/PriestVoteWeight.test.js
  test/ProposalPagination.test.js
  test/SelfPurchase.test.js
  test/SingleProposal.test.js
  test/SweepMemberRemainderReverts.test.js
  test/TEMPL.test.js
  test/TreasuryDonations.test.js
  test/TreasuryWithdrawReverts.test.js
  test/UpdateConfigDAO.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/utils/deploy.js
Due: run_contracts

test: parameterize member pool scenarios
  test/MemberPool.test.js
Due: run_contracts

test(selfpurchase): ensure direct self-purchase reverts
  test/SelfPurchase.test.js
Due: run_contracts

test: consolidate reentrancy token
  contracts/ReentrantClaimToken.sol
  contracts/ReentrantToken.sol
  test/Reentrancy.test.js
Due: run_contracts

refactor(frontend): centralize debug logger
  frontend/src/App.jsx
  frontend/src/flows.js
  frontend/src/utils/dlog.js
Due: run_frontend

chore(cache): restore solidity cache
  scripts/fund-test-wallet.js
Due: none

feat(frontend): use executeProposal flow
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_frontend

docs(persistence): add data flow diagram
  PERSISTENCE.md
Due: none

chore(deps): drop typechain dev dependencies
  package-lock.json
  package.json
Due: none

feat(shared): expose proposal and mute interfaces
  backend/src/server.js
  frontend/src/flows.types.d.ts
  shared/types.d.ts
Due: run_backend, run_frontend

docs: streamline quick start
  README.md
Due: none

docs: restructure persistence guide
  PERSISTENCE.md
Due: none

docs: add architecture diagram
  README.md
Due: none

docs: condense core flows
  README.md
Due: none

docs(frontend): add prerequisites section
  FRONTEND.md
Due: none

docs: add flow diagrams
  BACKEND.md
  FRONTEND.md
Due: none

docs: add proposal treasury sequence
  CORE_FLOW_DOCS.MD
Due: none

docs: streamline diagram notes
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
Due: none

docs: outline common directories
  README.md
Due: none

docs: trim env var table
  BACKEND.md
  README.md
Due: none

docs: fix sequence diagram notes
  README.md
Due: none

test: centralize templ interface
  test/PriestVoteWeight.test.js
  test/SelfPurchase.test.js
  test/SingleProposal.test.js
  test/SweepMemberRemainderReverts.test.js
  test/TEMPL.test.js
  test/TreasuryDonations.test.js
  test/TreasuryWithdrawReverts.test.js
  test/UpdateConfigDAO.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/utils/templInterface.js
Due: run_contracts

test: centralize mint and purchase helpers
  test/ExecuteProposalReverts.test.js
  test/FeeDistributionInvariant.test.js
  test/MemberPool.test.js
  test/PriestVoteWeight.test.js
  test/ProposalPagination.test.js
  test/Reentrancy.test.js
  test/SelfPurchase.test.js
  test/SingleProposal.test.js
  test/SweepMemberRemainderReverts.test.js
  test/TEMPL.test.js
  test/TreasuryDonations.test.js
  test/TreasuryWithdrawReverts.test.js
  test/UpdateConfigDAO.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/utils/mintAndPurchase.js
Due: run_contracts

refactor(frontend): extract XMTP sync helpers
  frontend/src/flows.js
  frontend/src/flows.test.js
  frontend/src/xmtpHelpers.js
  frontend/src/xmtpHelpers.test.js
Due: run_frontend

refactor(contracts): consolidate member data
  BACKEND.md
  CORE_FLOW_DOCS.MD
  PERSISTENCE.md
  backend/src/server.js
  contracts/TEMPL.sol
  frontend/e2e/core-flows.spec.js
  frontend/src/contracts/TEMPL.json
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
  test/TEMPL.test.js
Due: run_contracts, run_backend, run_frontend

docs: add scoped install commands
  README.md
Due: none

docs: clarify production env setup
  README.md
Due: none

docs(backend): document env vars in table
  BACKEND.md
Due: none

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_backend: any of: backend/.*
  run_frontend: any of: frontend/.*
