Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app, run_all

fix(backend): upgrade better-sqlite3 for node 22
  backend/package-lock.json
  backend/package.json
  docs/FRONTEND.md
Due: run_app, run_all

fix(backend): persist proposal execution outcomes
  backend/src/server.js
  backend/test/app.test.js
Due: run_app, run_all

fix(scripts): allow skip-worker deploys without worker env
  README.md
  scripts/__fixtures__/wrangler-success.sh
  scripts/cloudflare.deploy.example.env
  scripts/deploy-cloudflare.js
  scripts/test-all.sh
  test/deploy-cloudflare-skip-worker.test.mjs
Due: run_contracts, run_all

fix(scripts): allow skip-worker deploy with minimal env
  README.md
  package.json
  scripts/cloudflare.deploy.example.env
  scripts/deploy-cloudflare.js
  scripts/test-deploy-cloudflare-skip-worker.mjs
Due: run_all

fix(backend): emit daily digest immediately after bootstrap
  backend/src/server.js
  backend/src/services/registerTempl.js
  backend/src/services/requestTemplRebind.js
  backend/test/services.test.js
  docs/AUDIT.md
Due: run_app, run_all

docs: explain backend leader election persistence
  docs/CORE_FLOW_DOCS.MD
  docs/DOC_AUDIT.md
  docs/PERSISTENCE.md
Due: none

fix(frontend): restore templ listings for e2e
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/NewProposalPage.jsx
Due: run_app, run_all

fix(protocol): harden disband locks and backend validations
  backend/src/server.js
  backend/src/services/registerTempl.js
  backend/test/app.test.js
  backend/test/services.test.js
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  docs/AUDIT.md
  docs/CONTRACTS.md
  docs/CORE_FLOW_DOCS.MD
  docs/TEMPL_TECH_SPEC.MD
  test/DisbandTreasury.test.js
Due: run_contracts, run_app, run_all

Delete docs/AUDIT.md
  docs/AUDIT.md
Due: none

docs(deploy): enumerate prod env vars, worker var prefixes; backend: refresh priest/home link on attach; chore(ignore): add vite/npm cache, coverage.json, local logs; clean tracked hardhat cache
  .gitignore
  README.md
  backend/src/server.js
  cache/solidity-files-cache.json
  docs/BACKEND.md
  docs/CONTRACTS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  scripts/cloudflare.deploy.example.env
Due: run_app, run_all

docs(deploy): mark required vs optional env vars; enforce frontend factory vars in deploy helper; warn on missing trusted factory/block; example env annotated
  docs/DEPLOYMENT_GUIDE.md
  scripts/cloudflare.deploy.example.env
  scripts/deploy-cloudflare.js
Due: run_all

fix(backend): normalise signature replay keys
  backend/src/middleware/validate.js
  backend/src/persistence/index.js
  backend/test/validate.test.js
  docs/BACKEND.md
  scripts/test-all.sh
Due: run_app, run_all

fix(backend): quote leader election sentinel
  backend/src/persistence/index.js
Due: run_app, run_all

fix(frontend): default quorum percent when creating templ
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/services/deployment.js
Due: run_app, run_all

chore: automate playwright setup
  docs/FRONTEND.md
  docs/TEST_LOCALLY.md
  scripts/test-all.sh
Due: run_all

test(frontend): cover templ core flows e2e
  frontend/e2e/basic-flows.pw.spec.js
Due: run_app, run_all

fix(contracts): scale reward accounting to prevent flush loops
  contracts/TemplBase.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/mocks/TemplHarness.sol
  docs/CONTRACTS.md
  test/CoverageHarness.test.js
  test/FeeDistributionInvariant.test.js
Due: run_contracts, run_all

Delete docs/audits/2024-12-scaled-reward-review.md
  docs/audits/2024-12-scaled-reward-review.md
Due: none

test(frontend): extend protocol e2e coverage
  frontend/e2e/basic-flows.pw.spec.js
  frontend/e2e/extended-governance.pw.spec.js
  frontend/e2e/helpers.js
Due: run_app, run_all

docs: streamline local dev onboarding
  docs/DEPLOYMENT_GUIDE.md
  docs/TEST_LOCALLY.md
Due: none

feat: streamline ui defaults and telegram notifications
  backend/src/server.js
  backend/src/telegram.js
  backend/test/app.test.js
  frontend/src/pages/ClaimRewardsPage.jsx
  frontend/src/pages/CreateTemplPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/JoinTemplPage.jsx
  frontend/src/services/membership.js
Due: run_app, run_all

docs: explain registering templs from other factories
  docs/DEPLOYMENT_GUIDE.md
  docs/TEST_LOCALLY.md
Due: none

chore: align local env defaults with backend config
  backend/.env.test
  docs/TEST_LOCALLY.md
  frontend/e2e/fixtures.js
Due: run_app, run_all

fix(backend): register missing templ events
  backend/src/server.js
Due: run_app, run_all

docs: add production readiness checklist
  docs/DEPLOYMENT_GUIDE.md
  docs/DOC_AUDIT.md
  docs/PRODUCTION_CHECKLIST.md
  docs/README.md
Due: none

refactor(protocol): streamline accounting and derived data
  contracts/TEMPL.sol
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
  contracts/mocks/TemplHarness.sol
  docs/CONTRACTS.md
  docs/refactor-checklist.md
  frontend/src/contracts/TEMPL.json
  frontend/src/services/templs.js
  test/FeeDistributionInvariant.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/UpdateConfigDAO.test.js
Due: run_contracts, run_app, run_all

refactor(contracts): tighten docs and reward state
  contracts/TemplBase.sol
  contracts/TemplGovernance.sol
  contracts/TemplMembership.sol
  contracts/TemplTreasury.sol
Due: run_contracts, run_all

docs(contracts): clarify factory bps comment
  contracts/TemplFactory.sol
Due: run_contracts, run_all

test: expand coverage for dictatorship and snapshots
  contracts/mocks/TemplHarness.sol
  test/CoverageHarness.test.js
  test/TEMPL.test.js
  test/TemplFactory.test.js
  test/WrapperCoverage.test.js
Due: run_contracts, run_all

Delete docs/refactor-checklist.md
  docs/refactor-checklist.md
Due: none

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
  run_all: ((((((any of: contracts/.*) or (any of: test/.*)) or (any of: backend/.*)) or (any of: frontend/.*)) or (any of: scripts/.*)) or (any of: shared/.*)) or (any of: deployments/.*)
