Repository templ-fun/templ-evm-protocol: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_contracts, run_app

chore(contracts): move test mocks
  WEB3_AUDIT_REPORT.MD
  cache/solidity-files-cache.json
  contracts/mocks/PurchaseCaller.sol
  contracts/mocks/ReentrantToken.sol
  contracts/mocks/TestToken.sol
  frontend/e2e/fixtures.js
  frontend/src/core-flows.integration.test.js
  hardhat.config.js
  test/Reentrancy.test.js
  test/SelfPurchase.test.js
  test/TreasuryDonations.test.js
  test/UpdateConfigDAO.test.js
  test/utils/deploy.js
Due: run_contracts, run_app

refactor(xmtp): centralize polling utility
  backend/src/server.js
  shared/xmtp-wait.js
  shared/xmtp.js
Due: run_app

docs(persistence): summarize storage and add diagrams
  PERSISTENCE.md
  PERSISTENCE_APPENDIX.md
Due: none

feat(shared): add logging and wait helpers
  backend/src/server.js
  backend/test/wait-for-inbox.test.js
  frontend/src/App.jsx
  frontend/src/flows.js
  shared/logging.js
  shared/wait.js
  shared/xmtp.js
Due: run_app

refactor(test): centralize DAO call builders
  test/MemberPool.test.js
  test/PriestVoteWeight.test.js
  test/ProposalPagination.test.js
  test/SelfPurchase.test.js
  test/SingleProposal.test.js
  test/SweepMemberRemainder.test.js
  test/TEMPL.test.js
  test/TreasuryDonations.test.js
  test/TreasuryWithdrawReverts.test.js
  test/UpdateConfigDAO.test.js
  test/VoteReverts.test.js
  test/VotingEligibility.test.js
  test/utils/callDataBuilders.js
Due: run_contracts

Revert "chore: remove hardhat gas reporter"
  package-lock.json
  package.json
Due: none

test: consolidate signing helpers
  backend/package.json
  backend/test/signing.test.js
  frontend/src/signing.test.js
  frontend/vitest.config.js
  shared/signing.test.js
Due: run_app

refactor(backend): modularize routes and xmtp helpers
  backend/src/logger.js
  backend/src/routes/debug.js
  backend/src/routes/delegates.js
  backend/src/routes/join.js
  backend/src/routes/mutes.js
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/xmtp/index.js
Due: run_app

test(frontend): wait past voting period
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
Due: run_app

chore: expand coverage scripts for codecov
  codecov.yml
  frontend/package.json
  package.json
Due: run_app

v0 ui
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  backend/e2e-groups.db
  backend/src/routes/templs.js
  cache/solidity-files-cache.json
  frontend/e2e/core-flows.spec.js
  frontend/index.html
  frontend/npm-cache/_cacache/content-v2/sha512/67/a8/c5f3531acb8896ab9184a47c72f65e3a76a887eb7f8ddadf97c026012781e882eb5ff28c638f27d482916c9969ce7c1a59521ffda0a1773547d7efecbed9
  frontend/npm-cache/_cacache/content-v2/sha512/95/18/eb59a1b5aa6ed69cb15867b2f91ef8759c2ee691480df819c9b70b5786a2f1fd1a799edaeb6efcec858d533e91f2c24cffa38f48cdf31b4997245a79fc79
  frontend/npm-cache/_cacache/content-v2/sha512/f3/eb/46089a76e71570834557e29acfc0fe4f5cf8a92d93c83b470fad73616bc0c9d970e64fa76d2375cbcdcd84ea73d663046887936b4bf5accff29a5b5b2202
  frontend/npm-cache/_cacache/index-v5/37/23/212967cc095d0a505921b885fb8787cf2ec98190533b10b7fdca2697a7dc
  frontend/npm-cache/_cacache/index-v5/3f/78/f2ff796520f70d5b09d769dadfee369582e093105d8efb4de58b68d7639a
  frontend/npm-cache/_cacache/index-v5/8c/ce/6084eecc73caaa38e50178c1b29332fe5d5d9cd6180952c41afd4e4e5fc0
  frontend/npm-cache/_update-notifier-last-checked
  frontend/package.json
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_app

groups
  backend/e2e-groups.db
  frontend/e2e/core-flows.spec.js
  frontend/src/App.jsx
Due: run_app

chore(frontend): sync package-lock
  frontend/package-lock.json
Due: run_app

wip
  TEST_LOCALLY.md
  backend/e2e-groups.db
  frontend/e2e/core-flows.spec.js
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/index.css
Due: run_app

wip
  TEST_LOCALLY.md
  package.json
  scripts/gen-wallets.js
Due: none

chat test
  backend/e2e-groups.db
  frontend/e2e/chat-history-two-users.pw.spec.js
  frontend/src/App.jsx
Due: run_app

wipwip
  backend/e2e-groups.db
  frontend/e2e/tech-demo.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
Due: run_app

wipwip
  frontend/e2e/tech-demo.pw.spec.js
Due: run_app

fix
  backend/e2e-groups.db
  frontend/e2e/tech-demo.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/flows.js
  shared/xmtp.js
Due: run_app

v0
  AGENTS.md
  BACKEND.md
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  FRONTEND.md
  PERSISTENCE.md
  PERSISTENCE_APPENDIX.md
  README.md
  TEST_LOCALLY.md
  WEB3_AUDIT_REPORT.MD
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  backend/e2e-groups.db
  backend/src/routes/delegates.js
  backend/test/flows.test.js
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
  frontend/e2e/chat-history-two-users.pw.spec.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/core-flows.integration.test.js
  frontend/src/flows.js
  frontend/src/flows.test.js
  frontend/tsconfig.json
  scripts/deploy.js
  test/PriestVoteWeight.test.js
  test/TEMPL.test.js
  test/UniformVoteWeight.test.js
Due: run_contracts, run_app

shrink tests freeze package versions
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/core-flows.spec.js
  frontend/e2e/xmtp-add-after-join.pw.spec.js
  frontend/e2e/xmtp-node-browser.pw.spec.js
Due: run_app

shrinkwrap
  npm-shrinkwrap.json
Due: none

freeze versions
  package.json
Due: none

wip
  .gitignore
  FRONTEND.md
  backend/e2e-groups.db
  backend/package.json
  backend/src/logger.js
  backend/src/routes/join.js
  backend/src/routes/templs.js
  frontend/demo-recording.md
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/tech-demo.pw.spec.js
  frontend/playwright-no-server.config.js
  frontend/playwright-simple.config.js
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/vitest.config.js
  package.json
  scripts/test-all.sh
Due: run_app

shared: XMTP + signing helpers for deterministic join/discovery and debug support
  shared/signing.js
  shared/xmtp.js
Due: none

backend: deterministic /join gating, debug endpoints (/debug/membership, /debug/inbox-state, /debug/send), and XMTP sync improvements
  backend/src/middleware/validate.js
  backend/src/routes/debug.js
  backend/src/routes/delegates.js
  backend/src/routes/join.js
  backend/src/routes/mutes.js
  backend/src/routes/templs.js
  backend/src/server.js
  backend/src/xmtp/index.js
  backend/test/flows.test.js
  backend/test/persistence.test.js
Due: run_app

frontend(app): prefer backend-confirmed connection; robust discovery; e2e debug helpers; Playwright config for XMTP local
  frontend/playwright.config.js
  frontend/src/App.jsx
  frontend/src/contracts/TEMPL.json
  frontend/src/flows.js
  frontend/src/flows.test.js
  frontend/src/flows.types.d.ts
Due: run_app

e2e: treat backend membership as source of truth; remove evaluate-based recovery polls; fix lint (memberInboxId hoist)
  frontend/e2e/core-flows.pw.spec.js
  frontend/e2e/tech-demo.pw.spec.js
Due: run_app

contracts: update TEMPL.sol and frontend ABI sync
  artifacts/contracts/TEMPL.sol/TEMPL.dbg.json
  artifacts/contracts/TEMPL.sol/TEMPL.json
  cache/solidity-files-cache.json
  contracts/TEMPL.sol
Due: run_contracts

tests(contracts): update unit tests; scripts: test-all adjustments
  scripts/deploy.js
  scripts/test-all.sh
  test/MemberPool.test.js
  test/ProposalPagination.test.js
  test/Reentrancy.test.js
  test/TEMPL.test.js
  test/UpdateConfigDAO.test.js
  test/utils/deploy.js
Due: run_contracts

docs: update README and docs; add WHY_TESTS_FAIL_NOW and XMTP deep-dive
  BACKEND.md
  CONTRACTS.md
  CORE_FLOW_DOCS.MD
  PERSISTENCE.md
  PERSISTENCE_APPENDIX.md
  README.md
  WHY_TESTS_FAIL_NOW.md
  xmtp-complete-documentation-for-llms.md
Due: none

chore(frontend): eslint auto-fix in test-utils mocks
  frontend/test-utils/mocks.js
Due: run_app

Path conditions:
  run_contracts: (any of: contracts/.*) or (any of: test/.*)
  run_app: (any of: backend/.*) or (any of: frontend/.*)
